priority -50

extends html, djangotemplates

snippet static "surround text as static" i
{% static '${VISUAL}' %}
endsnippet

snippet sb "marks file as html django" i
<!-- vim:set filetype=htmldjango: -->
endsnippet
